body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.content {
    position: relative;
    z-index: 1; 
    text-align: center;
    padding: 20px;
    color:black;
    font-size: 24px;
}
